<div class="dark footer">
    <div class="inside_footer">
        <div class="left-text copyrightText">Copyright</div>
        <div class="left-text">WazirX-Info</div>
        <div class="footer_link">
            <a href="" class="mail">Support</a>
        </div>
    </div>
</div>