
    <div class="navbar">
        <div class="navbar__logo">Wazirx-Info</div>
        <div class="navbar__buttons">
          <div class="timer_container">
            <div class="circular-progress">
                <span class="progress-value">60</span>
            </div>
          </div>
          <a class="navbar__button buy-link" href="https://wazirx.com/invite/sp7pvbt6?utm_source=finstreet&utm_medium=affiliate&utm_campaign=regnow-btn">BUY</a>
          <a class="navbar__button connect-link" href="/connect-telegram">
              <div class="inside_anchor">
                <!-- <img src="" alt=""> -->
                <div class="">Connect Telegram</div>
            </div>
          </a>
          <div class="navbar_button toggle_container">
            <div class="toggle" onclick="animatedToggle()">
              <div class="toggle_button"></div>
            </div>
          </div>
        </div>
      </div>