
    <div class="navbar">
        <div class="navbar__logo">Wazirx-Info</div>
        <div class="navbar__buttons">
          <a class="navbar__button buy-link" href="https://wazirx.com/invite/sp7pvbt6?utm_source=finstreet&utm_medium=affiliate&utm_campaign=regnow-btn">BUY</a>
          <a class="navbar__button connect-link" href="/connect-telegram">
              <div class="inside_anchor">
                <!-- <img src="" alt=""> -->
                <div class="">Connect Telegram</div>
            </div>
          </a>
          <button class="navbar__button buy-btn" href="https://wazirx.com/invite/sp7pvbt6?utm_source=finstreet&utm_medium=affiliate&utm_campaign=regnow-btn">Toggle</button>
        </div>
      </div>