*{
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body{
    background-color: #191d28;
    font-family: 'Oswald',sans-serif;
}


.middle-container{
    padding-top: 70px;
    width: 100%;
    max-width: 100%;
    height: 990px;
    position: relative;
    margin-bottom: 65px;
}


.table-container{
    padding-left: 25px;
    padding-right: 25px;
}

.crypto-table {
    width: 100%; /* Set the desired width of the table */
    table-layout: fixed; /* Fix the table layout */
    border-collapse: separate; /* Collapse the table borders */
    border-spacing: 0 1em;
    color: #212529;
    line-height: 2.1;
  }

  td.firstCell {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  td.lastCell {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  
  .crypto-table th,
  .crypto-table td {
    padding: 8px; /* Adjust the padding as desired */
    text-align: center; /* Center-align the content within cells */
    background-color: #2e3241;
    color:white;
    font-size: 24px;
    letter-spacing: 1px;
  }
  
  .crypto-table th {
    color: #72757b;
    background-color: inherit;
    font-weight: bold;
    letter-spacing: 1.2px;
  }

  .crypto-table td {
    font-size: 24px;
    font-weight: bolder;
  }
  
  
  /* light theme */
.themeChange{
    background-color: white;
}

.themeChange td{
    background-color: #f8f9fa;
    color: black;
}
